<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="la.xiaoxiao.boxster"/>

    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>

    <bean class="la.xiaoxiao.boxster.MultiRmiServiceExporter">
        <property name="serviceDescriptions">
            <list>
                <value>
                    la.xiaoxiao.boxster.test.Car:la.xiaoxiao.boxster.test.Benz:benz:Benz
                </value>
            </list>
        </property>
    </bean>

    <!--<bean class="la.xiaoxiao.boxster.BalanceRmiProxyFactoryBean">-->
    <!--<property name="serviceInterface" value="la.xiaoxiao.boxster.test.Car"/>-->
    <!--<property name="serviceUrls">-->
    <!--<list>-->
    <!--<value>rmi://localhost:1099/Benz</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->

</beans>
